body {
  background-image: url("OP2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.signup-form {
  width: 400px;
  margin: 30px auto;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  border: 2px solid black;
  border-radius: 3px;
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #3598dc;
  border: none;
  min-width: 140px;
}
